@import url('https://fonts.googleapis.com/css2?family=Abel&family=Metal&family=Metal+Mania&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Playfair Display', 'AxiformaRegular', Avenir , Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  display: flex;
}

@font-face {
  font-family: "AxiformaRegular";
  src: url("../compontents/fonts/Axiforma/Axiforma-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AxiformaMedium";
  src: url("../compontents/fonts/Axiforma/Axiforma-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AxiformaThin";
  src: url("../compontents/fonts/Axiforma/Axiforma-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}